.colorOrange {
    color:orange;
}
.colorRed {
    color: red;
}
.colorGreen { 
    color:green;
}
a {
    text-decoration: none;  
}
.piggy {
    width: 150px;
    height: 150px    ;
}
td {
    border: 1px solid black;
}
#contenersColor .red {
    border: 1px solid red;
    color:red
}
ul {
    list-style:circle ;
}